body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.table-of-content {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  z-index: 2;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  width: 20rem;
  max-height: 50vh;
  overflow: auto;
}
.toc--empty_state {
  color: #777;
  user-select: none;
}
.toc--list {
  gap: 0.5rem;
}
.toc--list, .toc--item--children {
  display: flex;
  flex-direction: column;
}
.toc--list a {
  color: #000;
  text-decoration: none;
}
.toc--item {
  padding-left: calc(1rem * (var(--level) - 1));
}
.ProseMirror > * + * {
  margin-top: 0.75em;
}
